<div class="container">

    <table class="table table-striped">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Operations</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user?.fname}}</td>
            <td>{{user?.lname}}</td>
            <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
            <button class="btn btn-primary" (click)="updateUser(user)">Edit</button></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="newUser()">New User</button>

</div>