<br>
<div class="container">
    <h1>{{currentUser.fname}} {{currentUser.lname}}</h1>
    <br>
    <h4>Statistics:</h4>
    You drink in total: {{total | number : '1.2-2'}} liters
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <th>Date</th>
            <th>Volume</th>
            <th>Name</th>
          </thead>
        <tbody>
          <tr *ngFor="let record of records">
            <td>{{record.date | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
            <td>{{record.volume }}</td>
            <td>{{record.userRegisteredDeviceName}}</td>
            </tr>
        </tbody>
      </table>

    <h4>Devices:</h4>
  <table class="table table-striped">
      <thead>
          <th>Name</th>
          <th>Identificator</th>
          <th>Volume</th>
          <th>Operations</th>
        </thead>
      <tbody>
        <tr *ngFor="let device of devices">
          <td>{{device.name}}</td>
          <td>{{device.id}}</td>
          <td>{{device.volume}}</td>
          <td><button class="btn btn-primary" (click)="updateDevice(device)">Edit</button>
          <button class="btn btn-danger" (click)="deleteDevice(device)">Delete</button></td>
          </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="newDevice()">New Device</button>

</div>
