<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-primary">
    
    <ul class="navbar-nav">
       
      <li><a *ngIf="loginService.isAdminLoggedIn()" routerLink="/" class="nav-link">Users</a></li>
      <li><a *ngIf="loginService.isAdminLoggedIn()" routerLink="/user" class="nav-link">My page</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
    
    </ul>
      </nav>
    </header>