<div class="container">
<br>
  <div>
    Username : <input type="text" name="username" [(ngModel)]='username'>
    Password : <input type="password" name="password" [(ngModel)]='password'>
  </div>
<br>  
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div>