<div class="container">
  <form (ngSubmit)="processForm()">
      <div class="form group">
          <label for="id">Identificator</label>
          <input type="text" name="id" class="form-control" [(ngModel)]="device.id">
        </div>
        <div class="form group">
          <label for="name">Device Name</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="device.name">
        </div>
        <div class="form group">
          <label for="volume">Device Volume</label>
          <input type="text" name="volume" class="form-control" [(ngModel)]="device.volume">
        </div>
        <input type="submit" value="save" class="btn btn-success">
  </form>
</div>
